div.datagrid-content-layout {
    overflow-y: auto;
    height: 50vh;
    padding-left: 3%;
}

.gridview-capital-layout {
    border-collapse: collapse;
    width: 70%;
    margin-top: 20px;
    font-size: 16px;
    border: 2px solid #ffffff;
    box-shadow: 5px 8px 1px 3px #282828;
}

.gridview-header {
    background-color: #00ffff; /* Header background color */
    font-size: 20px;
    color: #262626; /* Header text color */
    font-weight: bold;
    text-align: center;
    padding: 15px;
    border-bottom: 2px solid #282828;
}

.gridview-row,
.gridview-alternating-row {
    text-align: left;
}

.gridview-row {
    color: #ffffff;
    background-color: rgba(38, 38, 38, 0.70);
    backdrop-filter: blur(9px) saturate(200%);
}

.gridview-alternating-row {
    color: #ffffff;
    background-color: rgba(42, 144, 144, 0.38);
    backdrop-filter: blur(9px) saturate(200%);
}

.gridview-cell {
    padding: 10px;
    border-bottom: 1px solid #00ffff;
    transition-duration: 0.3s;
}

    .gridview-cell:hover {
        color: #282828;
        background-color: rgba(255, 255, 255);
    }
