/* Color Palettes:  #32cace || #007679 || #002f61 || #262626 || #0a0a14 || #ffffff*/

:root {
    --viewport-width: 100vw;
    --viewport-height: 100vh;
    --header-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --sub-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --default-font: 'Franklin Gothic';
    --default-font-color: #0a0a14;
    --other-default-color: #ffffff;
    --default-background-color: #32cace;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--default-font);
}

div.page {
    width: var(--viewport-width);
    height: var(--viewport-height);
    display: flex;
}

section.nav-bar-section {
    width: 7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #262626;
    gap: 10px;
}

div.separated-nav-bar {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.nav-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Layout Section */
img.logo-layout {
    margin: 10px 0px 0px 0px;
    width: 70px;
    height: 70px;
}

.nav-icon-layout {
    padding: 7px;
    Width: 40px;
    height: 40px;
    background-color: #353535;
    box-shadow: 0px 1px 1px 1px #00ffff;
    border-radius: 5px;
}

img.header-icon-layout {
    width: 30px;
    height: 30px;
}

.company-name-layout {
    font-weight: bold;
    font-size: 15px;
}

.company-id-layout {
    font-size: 12px;
}

img.colored-icons-layout {
    width: 50px;
    height: 50px;
}

.label-layout {
    font-size: 26px;
}

.smartsell-button-layout {
    margin-top: 5%;
    padding: 5px 15px;
    font-size: 18px;
    backdrop-filter: blur(11px) saturate(200%);
    background-color: rgba(33, 168, 168, 0.64);
    border-radius: 5px;
    border: 1px solid #ffffff;
    box-shadow: 1px 2px 1px 1px #282828;
    transition-duration: 0.5s;
    cursor: pointer;
}

    .smartsell-button-layout:hover {
        background-color: #00ffff;
    }

img.small-icons-layouts {
    width: 40px;
    height: 40px;
}

.capital-input-field-layout {
    padding: 5px;
    font-size: 20px;
    color: #ffffff;
    background-color: rgba(33, 168, 168, 0.64);
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.capital-button-layout {
    padding: 5px;
    font-size: 20px;
    width: 150px;
    color: #ffffff;
    background-color: #262626;
    border: none;
    border-radius: 5px;
    box-shadow: 6px 6px 0px 1px rgba(0,0,0,0.74);
    transition-duration: 0.5s;
    cursor: pointer;
}

    .capital-button-layout:hover {
        background-color: #32cace;
        box-shadow: -6px 6px 0px 1px rgba(0,0,0,0.74);
    }

section.main-section {
    width: 93vw;
    height: var(--viewport-height);
    display: flex;
    flex-direction: column;
}

div.division-header {
    padding: 0px 20px 0px 20px;
    height: 8vh;
    color: #ffffff;
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.division-main {
    height: 92vh;
}

div.main-content {
    width: 100%;
    height: 100%;
    background-image: url('../resources/images/backgrounds/transparent-background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

div.home-content {
    display: flex;
    flex-direction: column;
    background-color: #1AE6E6;
}

header.header-section {
    display: flex;
    justify-content: space-between;
    color: #141414;
}

main.home-main-section {
    width: 100%;
    height: 100%;
    display: flex;
}

section.section-one {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

div.simplified-layout {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.simplified-icon-n-label {
    padding: 5px;
    width: 90%;
    display: flex;
    align-items: center;
    backdrop-filter: blur(11px) saturate(200%);
    background-color: rgba(33, 168, 168, 0.64);
    border-radius: 7px;
    border: 1px solid #ffffff;
    box-shadow: 1px 2px 1px 1px #282828;
    gap: 10px;
}

section.section-two {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

section.section-three {
    height: 50%;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section.section-four {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.left-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

div.right-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

div.capital-content {
    background-color: #26D9D9;
}

main.capital-main-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

section.capital-section-input {
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

div.capital-input-fields {
    display: flex;
    align-items: center;
    gap: 10px;
}

div.monthly-content {
    background-color: #33CCCC;
}

div.feedback-content {
    background-color: #40C0C0;
}

div.manual-content {
    background-color: #4DB3B3;
}

div.profile-content {
    background-color: #5AA6A6;
}
